/* Imported */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Colors */
:root {
    --primary-color: #202024;
    --secondary-color: #292a2e;
    --primary-text: #ffffff;
    --secondary-text: #00ff00;
    --error-color: #fff;
    --success-color: #fff;
    --notes-color: #fff;
    
}

/* Normal Elements */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
    color: var(--primary-text);
    font-family: 'Lato', sans-serif;
}

ul, ol {
    list-style-type: none;
}

a, p {
    text-decoration: none;
    color: var(--secondary-text);
}

/* Code */
code, pre {
    color: #f55742;
    padding: 1px 3px;
    border-radius: 5px;
    background-color: #333333;
}

/* Nav */
.navbar {
    height: 70px;
    overflow: hidden;
    background-color: var(--primary-color);
}

.navbar a, .navbar p {
    margin: 0 0;
    padding: 0 10px;
    transition: all 200ms;
}

.navbar a:hover {
    color: var(--primary-text);
    font-weight: 500;
    font-size: 1.30;
    font-size-adjust: 5px;
}

.navbar .currentPage {
    color: var(--primary-text);
    font-size-adjust: 5px;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar .logo img {
    height: 75%;
    margin: auto 5px;
}

/* Tablet */
@media (max-width: 768px) {
    .navbar {
        height: auto;
        overflow: hidden;
    }
    
    .navbar .logo {
        margin: 10px 0 0 0;
    }
    
    .navbar .logo img {
        height: 30px; 
        width: 30px;
        margin: auto 25px;
    }
    
    
}

/* Phone */