/* Preloader */
.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

/* Scroll Bar */
::-webkit-scrollbar {
	width: 12px;
	height: 8px;
	border: 2px solid transparent;
	background-clip: padding-box;
	-webkit-border-radius: 100px;
	background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

::-webkit-scrollbar-track {
	border: 3px solid transparent;
}

::-webkit-scrollbar-thumb {
	width: 10px;
	background: #202024;
	background-clip: padding-box;
	-webkit-border-radius: 100px;
	border: 2px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
	width: 10px;
	background: #19191c;
	background-clip: padding-box;
	-webkit-border-radius: 100px;
	border: 2px solid transparent;
}

/* Alerts */

/* Containers */
.container {
    max-width: 90%;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

/* Flex Styles */
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Grid Styles */
.grid {
    height: 100%;
    display: grid;
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

/* Cards */